/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

.white-text {
  color: white;
  background-color:  red;
}

.inner-box {
  padding: 0;
  border: solid red;
  border-width: 10px;
}

#outer-box {
  border: solid purple;
  border-width: 10px;
}
